<div class="col-md-8 offset-md-4 mt-3">
  <h3>This is a Template-Driven Form</h3>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="col-md-8">
      <div class="form-group row">
        <label for="text-input" class="col-md-3 col-form-label">Name of Tea:</label>
        <div class="col-md-10">
          <input class="form-control" type="text" [(ngModel)]="tea.teaName" name="teaName" id="text-input" required />
        </div>
      </div>

      <div class="col alert alert-danger" role="alert" *ngIf="form.controls.teaName?.errors?.required">
        Tea Name is required!
      </div>
      <fieldset ngModelGroup="price">
        <div class="form-group row">
          <label for="wholesale-price" class="col-md-3 col-form-label">Wholesale Price:</label>
          <div class="col-md-10">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tea.wholesalePrice"
              name="wholesalePrice"
              id="wholesale-rice"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="retail-price" class="col-md-3 col-form-label">Retail Price:</label>
          <div class="col-md-10">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tea.retailPrice"
              name="retailPrice"
              id="retail-price"
            />
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <label for="origin-input" class="col-md-3 col-form-label">Origin:</label>
        <div class="col-md-10">
          <input class="form-control" type="text" [(ngModel)]="tea.origin" name="origin" id="origin-input" />
        </div>
      </div>
      <div class="form-group row">
        <label for="description-input" class="col-md-3 col-form-label">Description:</label>
        <div class="col-md-10">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="tea.description"
            name="description"
            id="description-input"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-10 offset-md-2"><button class="btn btn-primary" type="submit">Submit</button></div>
      </div>
    </div>
  </form>
</div>

<div class="col-md-8 offset-md-4 mt-3">
  <p>Form value:</p>
  <pre>{{ form.value | json }}</pre>

  <p>Form contactName errors:</p>
  <pre>{{ form.controls.teaName?.errors | json }}</pre>
</div>
